h1 {
  font-family: "Rock Salt", cursive;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
}

.column {
  display: flex;
  flex-direction: column;
}

.content {
  margin: 2em 3em 2em 3em;
  font-family: "Bree Serif", serif;
}

.profile {
  width: 35%;
  height: 35%;
  border-radius: 5px;
  float: right;
}
