.tybearder-about-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: var(--tybearder-content-title-color);
  width: 600px;
  margin: 1em;
}

@media screen and (max-width: 1208px) {
  .tybearder-about-card {
    width: 500px;
  }
}

@media screen and (max-width: 1024px) {
  .tybearder-about-card {
    width: 400px !important;
  }
}

@media screen and (max-width: 768px) {
  .tybearder-about-card {
    width: 550px !important;
    padding: 1em;
  }
}

@media screen and (max-width: 548px) {
  .tybearder-about-card {
    padding: 1em;
    width: 400vw !important;
  }
}

.tybearder-about-card-image {
  border-radius: 6px;
  width: 180px;
  height: 140px;
  margin: 1em;
}

.tybearder-about-card {
  color: var(--tybearder-header-text-color);
  font-family: var(--tybearder-header-title);
  letter-spacing: 1.6px;
  text-align: center;
}

.tybearder-about-card-social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1em 0;
  text-decoration: none;
  list-style-type: none;
}

.tybearder-about-card-social-links-icon {
  color: var(--tybearder-header-text-color);
}

.wrapper-icon-item {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: 1em;
}

.wrapper-icon-item li {
  margin-right: 1em;
}

.wrapper-icon-item li:hover {
  color: var(--first-letter-highlight);
  cursor: pointer;
}

@media screen and (max-width: 1500px) {
  .wrapper-about-card {
    margin: 1em 25% 1em 25%;
  }
}

@media screen and (max-width: 1200px) {
  .wrapper-about-card {
    margin: 1em 20% 1em 20%;
  }
}

@media screen and (max-width: 900px) {
  .wrapper-about-card {
    margin: 1em 15% 1em 15%;
  }
}

@media screen and (max-width: 820px) {
  .wrapper-about-card {
    margin: 1em 5% 1em 5%;
  }

  .wrapper-about-card-column h3 {
    font-size: 15px;
    font-style: italic;
  }

  .wrapper-about-card-column h4 {
    font-size: 12px;
    font-style: italic;
  }
}

@media screen and (max-width: 400px) {
  .wrapper-about-card {
    margin: 1em 2% 1em 2%;
  }

  .wrapper-about-card-column h3 {
    font-size: 14px;
    font-style: italic;
  }

  .wrapper-about-card-column h4 {
    font-size: 10px;
    font-style: italic;
  }
}

@media screen and (max-width: 350px) {
  .wrapper-image-round {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 1em;
  }
}
