.tybearder-about-wrapper {
  /* padding-top: 1em; */
  /* margin: 4em; */
}

.tybearder-about-description-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 0px;
  padding: 4em;
}

.tybearder-about-divider {
  margin: 0em 2em;
  height: 3px;
  border-radius: 6px;
  background-color: var(--tybearder-content-title-color);
}

.tybearder-about-image-desc-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 0px;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-left: 6em;
  margin-right: 6em;
}

.tybearder-about-desc-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-content: center;
  margin-top: 2em;
  padding: 0em 4em;
}

.tybearder-about-profile-image {
  height: auto; 
  width: auto;
  border-radius: 6px;
  margin-left: 2em; 
  max-width: 500px; 
  max-height: 500px;
}

.tybearder-about-description-content {
  /* margin-top: 2.5em; */
  font-family: var(--tybearder-header-title);
  font-size: 18px;
  line-height: 1.6em;
  letter-spacing: 0.1em;
}

.tybearder-about-description-content h1 {
  font-size: 40px;
  font-weight: bold;
  color: var(--tybearder-content-title-color);
  text-align: center;
  margin-bottom: 1em;
  letter-spacing: normal;
}

.tybearder-about-map {
  margin: 4em 0;
  width: 100vw !important;
}

.bold {
  font-weight: bold;
}

@media screen and (max-width: 1280px) {
  .tybearder-about-image-desc-grid {
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    padding: 0 !important;
  }

  .tybearder-about-profile-image {
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 768px) {
  .tybearder-about-image-desc-grid {
    margin: 1em;
  }
  .tybearder-about-desc-grid {
    margin: 1em !important;
    padding: 0 !important;
    text-align: center;
  }

  .tybearder-about-description-content {
    text-align: justify;
  }

  .tybearder-about-profile-image {
    margin: 0;
    display: none;
  }

  .tybearder-about-description-content h1 {
    line-height: 1.2em;
  }

  .tybearder-about-image-desc-grid {
    padding: 1em;
    margin: 1em;
  }

}
