* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 15% 0 15%;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  padding: 1em;
  background-color: aqua;
}
