:root {
  --copper-highlight: #ee5622;
  --first-letter-highlight: #da4a12ef;
  --first-letter-highlight-alpha: #da4b129c;
  --footer-highlight: #cf5221d3;
  --deep-background-light: #ece4e3;
  --main-content-background: #f5edeb;
  --blog-post-title-color: #302f4d;
  --blog-post-font-old: "Krona One", sans-serif;
  --blog-post-font: "Bree Serif", serif;
  --blog-post-title: "Permanent Marker", cursive;
  --handwrite-emphasis: "Permanent Marker", cursive;
  --tybearder: "Rock Salt", cursive;

  --tybearder-background-body: #ffffff;
  --tybearder-background-blog-post: #eefbfb;
  --tybearder-header-title: "Vollkorn", serif;
  --tybearder-header-text-color: #dde7ef;
  --tybearder-content-title-color: #12232e;
  --tybearder-background-blog-list-color: #eefbfb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  margin: 2em 8em 2em 8em;
}

body {
  font-family: var(--blog-post-font);
  background-color: var(--tybearder-background-body);
}
