:root {
  --copper-highlight: #ee5622;
  --first-letter-highlight: #da4a12ef;
  --first-letter-highlight-alpha: #da4b129c;
  --footer-highlight: #cf5221d3;
  --deep-background-light: #ece4e3;
  --main-content-background: #f5edeb;
  --blog-post-title-color: #302f4d;
  --blog-post-font-old: "Krona One", sans-serif;
  --blog-post-font: "Bree Serif", serif;
  --blog-post-title: "Permanent Marker", cursive;
  --handwrite-emphasis: "Permanent Marker", cursive;
  --tybearder: "Rock Salt", cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--blog-post-font);
  background-color: var(--deep-background-light);
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 15% 0 15%;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  padding: 1em;
  background-color: var(--main-content-background);
  border-radius: 5px;
}

@media screen and (max-width: 900px) {
  .flex-wrapper {
    margin: 0 10% 0 10%;
  }
}

@media screen and (max-width: 600px) {
  .flex-wrapper {
    margin: 0 4% 0 2%;
  }
}

@media screen and (max-width: 300px) {
  .flex-wrapper {
    margin: 0;
    padding: 0;
  }
}
