.blog-post-title {
  font-family: var(--tybearder);
}

.blog-post-title::first-letter {
  color: #da4a12ef;
}

.blog-post-content {
  letter-spacing: 0.7px;
  line-height: 1.4em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 2em;
  margin-right: 2em;
}

.blog-post-content p {
  margin-top: 2em;
  margin-bottom: 2em;
}

.blog-footer {
  margin: 1em;
  color: #978a88;
}

.redirect {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  font-size: 12px;
}

#indication {
  color: #978a88;
}

@media screen and (max-width: 1000px) {
  .blog-post-title {
    font-size: 25px;
  }

  .blog-post-content {
    font-size: 14px;
  }
}

@media screen and (max-width: 770px) {
  .blog-post-title {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .blog-post-title {
    font-size: 22px;
    text-align: center;
  }

  .blog-footer {
    font-size: 12px;
  }

  .redirect {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  main {
    width: 325px;
  }

  .blog-post-title {
    font-size: 13px;
    text-align: center;
  }

  .blog-post-content {
    letter-spacing: 0.7px;
    line-height: 1.4em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  .blog-post-content p {
    font-size: 12px;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
  }

  .blog-footer {
    text-align: center;
    font-size: 10px;
  }
}

@media screen and (max-width: 350px) {
  main {
    width: 280px;
  }

  .blog-post-title {
    font-size: 10px;
    text-align: center;
  }
}
