main {
  width: 100%;
}

#indication {
  color: var(--tybearder-content-title-color);
  margin-right: 0.5em;
}

.tybearder-blog-post-background {
  /* background-color: var(--tybearder-background-blog-post); */
  border-radius: 6px;
  margin: 0em 12em;
}

.tybearder-blog-post-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tybearder-blog-post-title {
  font-family: var(--tybearder-header-title);
  font-size: 36px;
  color: var(--tybearder-content-title-color);
  text-align: center;
  padding-top: 2em;
}

.tybearder-blog-post-go-back {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--tybearder-content-title-color);
}

.tybearder-blog-post-content {
  font-size: 18px;
  font-family: var(--tybearder-header-title);
  letter-spacing: 0.8px;
  line-height: 1.6em;
  text-align: justify;
  margin: 6em;
}

.tybearder-blog-post-content-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--tybearder-content-title-color);
}

.tybearder-blog-post-info-date {
  color: var(--tybearder-content-title-color);
}

.tybearder-blog-post-about-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .blog-post-title {
    font-size: 25px;
  }

  .blog-post-content {
    font-size: 14px;
  }
}

@media screen and (max-width: 770px) {
  .blog-post-title {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .blog-post-title {
    font-size: 22px;
    text-align: center;
  }

  .blog-footer {
    font-size: 12px;
  }

  .redirect {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  main {
    width: 325px;
  }

  .blog-post-title {
    font-size: 13px;
    text-align: center;
  }

  .blog-post-content {
    letter-spacing: 0.7px;
    line-height: 1.4em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  .blog-post-content p {
    font-size: 12px;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
  }

  .blog-footer {
    text-align: center;
    font-size: 10px;
  }
}

@media screen and (max-width: 350px) {
  main {
    width: 280px;
  }

  .blog-post-title {
    font-size: 10px;
    text-align: center;
  }
}
