.blog-post-title {
  font-family: var(--tybearder);
}

.blog-post-title::first-letter {
  color: #da4a12ef;
}

.blog-post-content {
  letter-spacing: 0.7px;
  line-height: 1.4em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 2em;
  margin-right: 2em;
}

.blog-post-content p {
  margin-top: 2em;
  margin-bottom: 2em;
}

@media screen and (max-width: 1000px) {
  .blog-post-title {
    font-size: 25px;
  }

  .blog-post-content {
    font-size: 14px;
  }
}

@media screen and (max-width: 770px) {
  .blog-post-title {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .blog-post-title {
    font-size: 22px;
    text-align: center;
  }
}
