.article-row {
  display: flex;
  background-color: aqua;
  margin: 1em 0em 1em 0em;
  height: 30vh;
  border-radius: 5px;
}

.article-column {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #ece4e3;
}

.article-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.2s;
}

.article-img:hover {
  transform: scale(0.98);
}

.article-description {
  padding: 1em;
  margin: 1em;
  text-align: center;
}

.article-description h2 {
  font-family: "Permanent Marker", cursive;
  color: #302f4d;
  font-size: 35px;
}

.article-description p {
  font-family: "Bree Serif", serif;
  font-size: 14px;
  margin: 1.4em;
  transition: transform 0.2s;
}

.article-description p:hover {
  transform: scale(1.02);
}

.article-description a {
  font-size: 12px;
  font-family: "Bree Serif", serif;
  color: #da4b129c;
}

.article-description a:hover {
  font-weight: 800;
}
