.article-row {
  display: flex;
  margin: 1em 0em 1em 0em;
  height: 30vh;
  border-radius: 5px;
}

.article-column {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: var(--deep-background-light);
}

.article-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.2s;
}

.article-img:hover {
  transform: scale(0.98);
}

.article-title {
  font-family: var(--blog-post-title);
  color: var(--blog-post-title-color);
  font-size: 35px;
}

.article-description-wrapper {
  padding: 1em;
  margin: 1em;
  text-align: center;
}

.article-description {
  font-size: 14px;
  margin: 1.4em;
  transition: transform 0.2s;
}

.article-description:hover {
  transform: scale(1.02);
}

.article-description-wrapper a {
  font-size: 12px;
  color: var(--first-letter-highlight-alpha);
}

.article-description-wrapper a:hover {
  font-weight: 800;
}

@media screen and (max-width: 1800px) {
  .article-title {
    font-size: 27px;
  }
}

@media screen and (max-width: 1450px) {
  .article-title {
    font-size: 24px;
  }

  .article-description-wrapper {
    padding: 0.7em;
    margin: 0.9em;
  }
}

@media screen and (max-width: 1200px) {
  .article-title {
    font-size: 22px;
  }

  .article-description-wrapper {
    padding: 0.6em;
    margin: 0.8em;
  }

  .article-description {
    font-size: 13px;
    margin: 1.2em;
    transition: transform 0.2s;
  }
}

@media screen and (max-width: 1000px) {
  .article-title {
    font-size: 20px;
  }

  .article-description-wrapper {
    padding: 0.5em;
    margin: 0.7em;
  }

  .article-description {
    font-size: 12px;
    margin: 1.1em 1.1em 0.4em 1.1em;
    transition: transform 0.2s;
  }
}

@media screen and (max-width: 600px) {
  .article-column {
    justify-content: center;
    align-items: center;
  }

  .article-description {
    display: none;
  }
}
