h1 {
  font-family: var(--tybearder);
}

#highlight {
  color: var(--first-letter-highlight);
}

.wrapper-contact {
  display: flex;
  flex-direction: column;
}

.content-contact {
  margin: 2em 3em 2em 3em;
}

.icon {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.icon li {
  list-style-type: none;
  margin-right: 1.2em;
  font-size: 1.8em;
}

.icon li:hover {
  color: var(--first-letter-highlight);
  font-weight: 800;
  cursor: pointer;
}

.contact-form {
  display: flex;
  margin-top: 2em;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

input[type="text"] {
  width: 62vw;
  font-family: inherit;
  background-color: var(--deep-background-light);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

button[type="submit"] {
  height: 3em;
  width: 6em;
  font-family: inherit;
  font-weight: 300;
  color: #fff;
  font-size: 14px;
  background-color: var(--first-letter-highlight);
  border-radius: 5px;
  border: none;
}

button[type="submit"]:hover {
  cursor: pointer;
  transform: scale(1.02);
  font-weight: bolder;
}

button[type="submit"]:disabled {
  cursor: default !important;
  background-color: #e4e4e4;
  transform: none;
  font-weight: 400;
}

@media screen and (max-width: 1400px) {
  .contact-form {
    justify-content: center;
  }
}

@media screen and (max-width: 1000px) {
  .content-contact {
    margin: 2em 1.5em 2em 1.5em;
  }

  .contact-form {
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .content-contact {
    margin: 2em 0em 2em 0em;
  }
}
