.footer {
  align-self: center;
  padding: 0.8em;
  font-size: 12px;
}

#highlight {
  color: var(--footer-highlight);
}

@media screen and (max-width: 600px) {
  .footer {
    font-size: 10px;
  }
}

@media screen and (max-width: 400px) {
  .footer {
    font-size: 7px;
  }
}
