.tybearder-footer {
  color: var(tybearder-content-title-color);
  font-family: var(--tybearder-header-title);
  text-align: center;
  font-size: 16px;
  margin: 1em;
}

.tybearder-footer a {
  text-decoration: none;
  font-weight: bold;
  color: var(tybearder-content-title-color);
}

@media screen and (max-width: 600px) {
  .footer {
    font-size: 10px;
  }
}

@media screen and (max-width: 400px) {
  .footer {
    font-size: 7px;
  }
}
