.tybearder-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

.tybearder-header a {
  text-decoration: none;
}

.tybearder-header-title {
  font-size: 40px;
  font-family: var(--tybearder-header-title);
  color: var(--tybearder-header-text-color);
  text-decoration: none;
  letter-spacing: 0.2em;
}

.tybearder-header-title::first-letter {
  font-size: 48px;
}

.tybearder-header-navbar {
  display: flex;
  font-size: 20px;
  list-style-type: none;
}

.tybearder-header-navbar-items {
  font-family: var(--tybearder-header-title);
  color: var(--tybearder-header-text-color);
  text-decoration: none;
  margin-right: 1em;
}

.tybearder-header-navbar-items:hover {
  font-weight: 800;
}

.header-items-button {
  display: flex;
  margin-left: auto;
  list-style-type: none;
}

.header-items-button button {
  border: none;
  background: none;
  outline: none;
  font-size: inherit;
}

.mobile-menu-container {
  background-color: #dbd5d4d3;
  position: fixed;
  left: 50%;
  top: 0;
  height: 100vh;
  width: 250px;
  z-index: 20;
}

.mobile-menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: end;
  margin-top: 2em;
}

.mobile-menu-content li {
  font-family: var(--handwrite-emphasis);
  font-size: 22px;
  list-style-type: none;
  margin-bottom: 1.2em;
}

.mobile-menu-content button {
  margin-left: 3em;
  margin-bottom: 1em;
  border: none;
  background: none;
  outline: none;
  font-size: inherit;
}

@media screen and (max-width: 1000px) {
  #logo {
    height: 10%;
    width: 5%;
  }

  #tybearder {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  #tybearder {
    font-size: 22px;
  }

  .header-items {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .mobile-menu-content {
    margin-right: 2.5em;
  }
}
