.tybearder-header {
  width: 80vw;
  /* padding: 1em 0; */
}

.tybearder-title {
  color: var(--tybearder-content-title-color);
}

.tybearder-header a {
  text-decoration: none;
  color: var(--tybearder-content-title-color);
}

.tybearder-logo {
  width: 80px;
  height: 80px;
  margin-right: 1em;
}

.tybearder-menu-icon {
  width: 84px;
  height: 84px;
  margin-right: 1.5em;
  color: var(--tybearder-content-title-color);
}

.tybearder-header-wrapper-flex {
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 1em;
  /* align-items: center; */
}

.tybearder-header-mobile-wrapper-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.tybearder-image-wrapper-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tybearder-slogan {
  font-size: 24px;
}

.tybearder-header-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  list-style-type: none;
}

.tybearder-header-navbar > * {
  margin-right: 1em;
}

.tybearder-header-navbar-items {
  font-family: var(--tybearder-header-title);
  font-weight: bold;
  font-size: 18px;
  color: var(--tybearder-content-title-color);
  text-decoration: none;
}

.tybearder-header-navbar-separator {
  background: var(--tybearder-content-title-color);
  border-radius: 50%;
  margin-bottom: 2px;
  width: 4px;
  height: 4px;
}

.tybearder-header-navbar-items:hover {
  text-decoration: line-through;
}

@media screen and (max-width: 768px) {
  .tybearder-header-wrapper-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 0;
    margin-left: 1em;
    margin-right: 1em;
  }

  .tybearder-title {
    font-size: 26px;
  }

  .tybearder-title::first-letter {
    font-size: 40px;
    margin: 3px;
  }

  .tybearder-menu-icon {
    height: 24px;
    width: 24px;
  }

  .tybearder-logo {
    height: 60px;
    width: 60px;
    margin-right: 1em;
  }
}
