.tybearder-postcard-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1400px;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.tybearder-postcard-wrapper-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.tybearder-postcard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tybearder-postcard-text {
    /* background-color: var(--tybearder-background-blog-post); */
    background-color: var(--tybearder-content-title-color);
    color: white;
    width: 380px;
    height: 80px;
    padding: 1em;
    margin-bottom: 2em;
    text-align: center;
}

.tybearder-postcard-image {
    /* z-index: 100; */
    width: 400px;
    height: 360px;
    -webkit-box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.44); 
    box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.44);
}

.tybearder-blog-list-wrapper {
    margin: 2% 5% 2% 5%;
}

@media screen and (max-width: 1540px) {
    .tybearder-postcard-wrapper {
        max-width: 1200px;
    }
    .tybearder-postcard-text {
        width: 300px !important;
        height: 70px !important;
        padding: none !important;
    }
    .tybearder-postcard-text h3 {
        font-size: 18px;
    }
    .tybearder-postcard-image {
        width: 320px !important;
        height: 320px !important;
    }
}

@media screen and (max-width: 1280px) {
    .tybearder-postcard-wrapper {
        max-width: 1000px;
    }
}

@media screen and (max-width: 1120px) {
    .tybearder-postcard-wrapper {
        max-width: 800px;
    }
}

@media screen and (max-width: 768px) {
    .tybearder-postcard {
        width: 100%;
        padding-left: 2em;
        padding-right: 2em;
    }
    .tybearder-postcard-text {
        width: 95% !important;
    }

    .tybearder-postcard-image {
        width: 100% !important;
        height: 520px !important;
    }
}

@media screen and (max-width: 540px) {
    .tybearder-postcard-text {
        width: 95% !important;
    }

    .tybearder-postcard-image {
        width: 100% !important;
        height: 320px !important;
    }
}

